.parent{
    background-color: var(--color-primary_background);
    min-height: 500px;
    padding: 20px;
}
.create_new_div{
    font-size: 14px;
    color:rgb(197, 197, 197);
    padding: 4px 0;
    font-style: italic;
    font-weight:500;
    padding: 10px;
  }
  
  .create_new_div button{
    color: var(--color-highlight);
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    cursor: pointer;
  }