.main-container{
    display: grid;

}
.container-1{
    display: gird;
    
   
}
.container-1-1{
    display: flex;
     justify-content: space-around;
     width: 100%;

     
}
.container-1-1-text{

 text-align: center;
 margin-top: 13vmax;
 justify-items: center;
   


}
.container-1-1-text>h5{
  font-size: 25px;
}
.container-1-1-text>p{
     text-align: center;
}
.container-1-1-text>button{
    padding: 10px;
   background-color:#FECC00FA;
   border: none;
   border-radius: 5px;
   color:#161616;

}
.container-1-1-img>img{
    
    height: 600px;
}
.what-crick{
    text-align: center;

    font-size: 25px;
}
.container-2{
    border-top: 1px solid rgb(32, 32, 32);

    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.container-2-text{
    text-align: center;
    margin-top: 10vmax;
    justify-items: center;
   
}
.container-2-text>h3{
   color:#FECC00FA;
   font-size: 25px;
   
}
.container-2-text>button{
   padding: 10px;
   background-color:#FECC00FA;
   border: none;
   border-radius: 5px;
   color:#161616;

}
.container-2-img{
  margin-top: 3vmax;
}
.container-2-img>img{
    width: 400px;
    height: 400px;
    
}
.container-3{
     border-top: 1px solid rgb(32, 32, 32);

    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.container-4{
     border-top: 1px solid rgb(32, 32, 32);

    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}